* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

:root {
    --VeryDarkBlue: #242942;
    --DarkGrayishBlue: #5b5f71;
    --GrayishBlue: #a0a1ac;
    --LightGrayishBlue: #eef3f6;
    --Red: #ff5c5c;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    justify-content: space-evenly;
}

body::before {
    position: absolute;
    content: "";
    min-width: 705px;
    min-height: 427px;
    background-color: #edf2f6;
    right: 0;
    top: 0;
    border-bottom-left-radius: 3rem;
    z-index: -1;
}

.list-menu {
    display: flex;
    position: relative;
}

.list-menu li a {
    color: var(--VeryDarkBlue);
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 21px;
    transition: .3s all;
}

.list-menu li a:hover{
    text-decoration: underline;
}

.list-menu li .login {
    color: var(--VeryDarkBlue);
    opacity: 0.5;
    position: relative;
    padding-left: 50px;
}

.login::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    opacity: 0.5;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--VeryDarkBlue);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.main-cont {
    max-width: 1100px;
    padding-top: 160px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    overflow: hidden;
}

.new {
    display: flex;
    gap: 1rem;
    font-size: 0.9375rem;
    align-items: center;
    margin-bottom: 20px;
}

.new span {
    color: white;
    background: var(--VeryDarkBlue);
    border-radius: 12.5px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 4px 10px;
}

.new p {
    opacity: 0.5;
    letter-spacing: 5px;
}

.info-cont h1 {
    color: var(--VeryDarkBlue);
    font-size: 4rem;
    font-weight: 700;
}

.planning {
    margin-top: 32px;
    font-size: 1.125rem;
    opacity: 0.75;
    font-family: 'Barlow', sans-serif;
    line-height: 1.4;
}

.btns {
    display: flex;
    gap: 24px;
    margin-top: 64px;
}

.demo {
    border-radius: 5px;
    background: var(--Red);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px 33px;
    letter-spacing: 1.067px;
    cursor: pointer;
    height: 48px;
    transition: .3s all;
}

.demo:hover{
    opacity: 0.8;
}

.pre {
    padding: 15px 33px;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 1rem;
    border: none;
    height: 48px;
    white-space: nowrap;
    background: transparent;
}

.info-cont {
    max-width: 470px;
}

.cont-img {
    position: absolute;
    height: 450px;
    left: 55%;
    max-width: 100%;
    width: 100%;
}

.cont-img img {
    max-width: 916px;
}

.main{
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}
.btn-mobile{
    display: none;
}

@media(max-width:999px){
    .main-cont{
        padding-top: 64px;
        flex-direction: column-reverse;
    }
    .cont-img{
        position: relative;
        left: 5%;
        height: 300px;
    }

    .cont-img img{
        max-width: 482px;
    }

    .btn-mobile{
        display: block;
        border: none;
        cursor: pointer;
    }
    .list-menu{
        display: none;
    }
    .menu{
        margin-top: 38px;
    }
    body::before{
        min-width: 319px;
        min-height: 425px;
    }
    .info-cont h1 {
        font-size: 2.5rem;
    }

    .demo,.pre{
        font-size: 0.875rem;
        padding: 11px 24px;
        white-space: nowrap;
    }
    .btns{
        gap: 1rem;
    }
    .pre{
        letter-spacing: 2.5px;
        font-size: 14px;
    }
    .list-menu.ativo{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 311px;
        padding-top: 24px;
        background: white;
        left: 50%;
        gap: 20px;
        width: 80%;
        z-index: 111;
        transform: translateX(-50%);
        align-items: center;
        animation:animeRight .3s forwards;
    }
    .list-menu.ativo .login::after {
        content: '';
        width: 100%;
        height: 2px;
        top: 0;
        position: absolute;
        left: 0;
        opacity: 0.5;
        transform: translateY(-50%);
        background-color: var(--VeryDarkBlue);
    }
    .list-menu li .login{
        padding-left: 0;
        width: 100%;
        display: block;
    }

    .list-menu li {
        width: 100%;
        text-align: center;
        display: block;
    }

    .list-menu li a{
        padding: 12px 0;
    }
}

@keyframes animeRight {
    0% {
      opacity: 0;
      top: 200px;
    }
    100% {
      opacity: 1;
      top: 80px;
    }
  }